[class^="btn-"] {
  border-radius: 3px;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,.4), inset 0px 1px rgba(255,255,255,.2);
  padding: 14px 20px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  text-shadow: 0px 1px 3px rgba(0,0,0,.3);
}
.btn-disabled {
  background-color: $button-disabled;
  cursor: default;
  pointer-events: none;
}
.btn-main {
  background-color: $button-red;
}
.btn-wider {
	padding: 14px 45px;
}
.btn-med {
  width: 130px;
  display: block;
  margin: 0 auto;
  text-align: center;
}