#header {
	height: 670px;
	overflow: hidden;
	background: url(../images/bg-header.jpg) no-repeat center #0e1226;
	color: #fff;
	text-align: center;
	font-size: 24px;
	font-weight: 400;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-top: 30px;
	
	.text {
		padding: 15px 0 55px;
	}

	h1 {
		margin-bottom: 5px;
		margin-top: 0px;
	}

	p {
		margin-bottom: 0;
	}

	.ui-screenshot {
		box-shadow: 0px -10px 30px 10px rgba(67,244,249, .25);
		pointer-events: none;
		user-select: none;
	}
}

#logo {
	display: block;
	text-indent: -9999px;
	overflow: hidden;
	width: 196px;
	height: 58px;
	background: url(../images/header-logo.png) no-repeat;
	margin: 0 auto;
	text-align: left;
}

#links {
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	top: -30px;
	right: 0;

	li {
		list-style: none;
		display: inline-block;
		text-align: left;
		margin: 0 25px;

		&.download {
			line-height: 40px;
			margin-right: 0;

			a {
				line-height: 19px;
			}
		}
		&.github {
			position: relative;
			top: -21px;

			a:before {
				position: absolute;
				left: -30px;
			}
		}

		small {
			font-size: 12px;
			color: #6496b7;
			font-weight: normal;
			font-style: italic;
		}
	}

	a {
		color: #fff;
		text-decoration: none;
	}
}